---
title: "Team"
layout: default
excerpt: "Sabre Kais Group: Team members"
sitemap: false
permalink: /team/
---

<h1>{{page.title}}</h1>

<p>Principal investigator, postdoctoral researchers, and graduate students in the Kais Group.</p>

<h2><a id="staff"></a>Principal Investigator &amp; Postdocs</h2>
{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
{% for member in members %}
<div class="team-member-card">
    <div class="row team-member-row">
        <div class="col-sm-4 col-md-3 text-center">
            <a href="{{ member.url | relative_url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="img-responsive img-thumbnail team-member-photo"
                    alt="{{ member.title }}"/>
            </a>
        </div>

        <div class="col-sm-8 col-md-9 team-member-info">
            <h4 class="team-member-name"><a href="{{ member.url | relative_url }}">{{ member.title }}</a></h4>
            <p class="team-member-role">{{ member.role }}</p>
        </div>
    </div>
</div>
{% endfor %}

<h2><a id="student"></a>Graduate Students</h2>
{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
{% for member in members %}
<div class="team-member-card">
    <div class="row team-member-row">
        <div class="col-sm-4 col-md-3 text-center">
            <a href="{{ member.url | relative_url }}">
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="img-responsive img-thumbnail team-member-photo"
                    alt="{{ member.title }}"/>
            </a>
        </div>

        <div class="col-sm-8 col-md-9 team-member-info">
            <h4 class="team-member-name"><a href="{{ member.url | relative_url }}">{{ member.title }}</a></h4>
            <p class="team-member-role">{{ member.role }}</p>
        </div>
    </div>
</div>
{% endfor %}

<h2>Former Group Members</h2>

<h3>Postdoctoral Fellows</h3>
<ul>
<li>Dr. Manas Sajjan (2020-2026) - Scientist, Oak Ridge National Laboratory</li>
<li>Dr. Amandeep Singh Bhatia (2021-2026) - Quantum AI Research Scientist, St. Jude Children's Research Hospital</li>
<li>Dr. Mandeep Kaur Saggi (2022-2026)</li>
<li>Dr. Yuchen Wang (2023–2024), Physics — Quantum entanglement</li>
<li>Dr. Rishabh Gupta (2024–2025), Chemistry — Quantum computing</li>
<li>Dr. Zixuan Hu (2016–2023) Chemistry — Quantum coherence & computing</li>
<li>Dr. Sangchul Oh (2020–2023) Chemistry — Quantum computing algorithms</li>
<li>Dr. Yijue Ding (2018–2020) Physics — Quantum entanglement</li>
<li>Dr. Vivek Dixit (2019–2021) Chemistry — Quantum machine learning</li>
<li>Dr. Kumar Ghosh (2018–2020) Chemistry — Quantum machine learning</li>
<li>Dr. Merid Legesse Belayneh (2015–2017) Chemistry — Quantum materials</li>
<li>Dr. Nan Jiang (2015–2016) Computer Science — Quantum entanglement</li>
<li>Dr. Jiang Wang (2015–2016) Computer Science — Quantum computing</li>
<li>Dr. Sachin D. Yeole (2014–2015) Chemistry — Finite size scaling</li>
<li>Dr. Dong Wang (2014–2015) Chemistry — Anhui University</li>
<li>Dr. Felipe Herrera (2012–Present) Chemistry — Universidad de Santiago de Chile
<li>Dr. Omar Osenda (2002–2004) Physics — University of Córdoba</li>
<li>Dr. Jiaxiang Wang (2001–2004) physics — East China Normal University</li>
<li>Dr. Qicun Shi (1998–2005) Chemistry — Research Scientist, MIT</li>
<li>Dr. Ricardo Sauerwein (1999–2001) Physics — Federal University of Santa Maria</li>
<li>Dr. Alexei V. Seregeev (1998–1999) Physics — Ben Gurion University</li>
<li>Dr. Juan Pablo Neirotti (1997–1998) Physics — São Paulo</li>
<li>Dr. Pablo Serra (1995–1997) Physics — University of Córdoba</li>
<li>Dr. Richard Bleil (1994–1995) Chemistry — Dakota State University</li>
</ul>

<h3>Ph.D. Alumni</h3>
<ul>
<li>Dr. Saurabh Shivpuje (2021–2026), Chemistry — Quantum computing algorithms</li>
<li>Dr. Vinit Kumar Singh (2021–2026), Chemistry — Quantum computing algorithms. Research Scientist, Meta, San Francisco</li>
<li>Dr. Bilal Khalid (2020–2024), Physics — Quantum topological phase transitions</li>
<li>Dr. Sumit Kale (2019–2023), Chemistry — Quantum computing. Quantum Software Engineer at IBM, Bengaluru, Karnataka, India</li>
<li>Dr. Rishabh Gupta (2019–2024), Chemistry — Quantum computing</li>
<li>Dr. Junxu Li (2018–2023, Physics — Quantum machine learning. Faculty, Department of Physics, Northeastern University, Shenyang, China</li>
<li>Dr. Blake Wilson (Ph.D. 2023): Research Scientist, Quantinuum, UK</li>
<li>Dr. Juexiao Wang (2022–2024), Computer Science — Quantum machine learning</li>
<li>Dr. Keerthi Kumaran (2023–2024), Physics — Quantum computing algorithms. PhD student at Purdue University</li>
<li>Dr. Yuchen Wang (2017–2023), Physics — Quantum entanglement. Postdoctoral Fellow, Dept. of Chemistry, Purdue University</li>
<li>Dr. Vineet Mohanty (2017–2020), Mechanical Engineering — Quantum phases</li>
<li>Dr. Shree Hari Sureshbabu (2020–2023), ECE — Quantum machine learning. Sr. Applied Research Associate, JPMorgan Chase &amp; Co.</li>
<li>Dr. Raja Selvarajan (2017–2023), Physics — Quantum algorithms. Research Scientist, PASQAL, Netherlands</li>
<li>Dr. Rongxin Xia (2016–2020), Physics — Quantum computing. Research Scientist, Facebook, San Francisco</li>
<li>Dr. Teng Bian (2016–2020), Physics — Quantum information. Research Scientist, Facebook, San Francisco</li>
<li>Dr. Zhanfu Yang (2018–2019), M.Sc., Computer Science — Quantum machine learning </li>
<li>Dr. Shuxian Jiang (2012–2017), Computer Science — Quantum annealing. </li>
<li>Dr. Yudong Cao (2012–2016), Computer Science — Quantum algorithms. CTO at Zapata Quantum</li>
<li>Dr. Rishabh Chandra (2012–2014), Mechanical Engineering — Quantum algorithms. AD Specialty Analytics at Regeneron</li>
<li>Dr. Cyrus Vandrevala (2011–2014), Physics — Entanglement in materials. </li>
<li>Dr. Yiteng Zhang (2011–2016), Physics — Entanglement in biological systems. </li>
<li>Dr. Shu-Hao Yeh (2010–2015), Chemistry — Quantum coherence in photosynthesis. Senior Data Scientist at Lowe’s Companies, Inc.</li>
<li>Dr. Edwin Antillon (2009–2012), Physics — Finite size scaling, conformal invariance. Research Physicist US Naval Research Laboratory</li>
<li>Dr. Anmer Deskin (2009–2013), Computer Science — Quantum compiler. Principal Investigator and Research Scientist at Pison Technology, Inc.</li>
<li>Dr. Ross Hoehn (2009–2014), Chemistry — Dimensional scaling. </li>
<li>Dr. Jing Zhu (2006–2012), Chemistry — Quantum algorithms for global optimization. </li>
<li>Dr. Qi Wei (2004–2010), Chemistry — Stability of matter, dimensional scaling. Associate Professor at East China Normal University</li>
<li>Dr. Hefeng Wang (2004–2008), Chemistry — Quantum algorithms. </li>
<li>Dr. Winton Moy (2004–2010), Chemistry — Finite elements and scaling. Staff Data Scientist at Kraft Heinz</li>
<li>Dr. Xu Qing (2005–2010), Physics — Spin systems. </li>
<li>Dr. Zheng Huang (2002–2007), Chemistry — Entanglement theory. </li>
<li>Dr. Aaron Stanton (1995–1999), Chemistry — Global optimization. Owner at Cathartic Bliss, LLC</li>
<li>Dr. Pablo Nigra (1996–2001), Chemistry — Water clusters and phase changes. Research Associate at University Castilla-LaMancha</li>
<li>Dr. Stephen Belair (1998–2004), Chemistry — Electronic structure methods.</li>
<li>Dr. Imad Ladadwa (1999), Visiting student — Finite size scaling in scattering theory. Assistant Professor: Fahad Bin Sultan University</li>
</ul>
